body {
    background-color: aquamarine;
    font-size: 20px;
}
h2{
    color:aliceblue;
    font-family: 'lucida sans', 'lucida sans regular', 'lucida grande', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', 'Arial', 'sans-serif';
}
.container{
    display:flex
}